@import '../app-variables';

.topicTitle{
    // color: $btn-color-secondary;
    // text-align: center;
    margin: 4vh;
    color: #0d2e4b;
    font-weight: bold;
    font-size: 22vh;
    vertical-align: middle;
    text-align: right;
}
.topicDetails{
    margin: 6vh;
    font-size: 14vh;
    text-align: center;
}
.topicTags{
    margin: 3vh;
    text-align: center;    
}
.topicDetails,.topicTags{
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.topicTags{
    margin-top: 0px;
}    

.tagLabel{
    color: $white;  
    padding: 5vh;
    border-radius: 3%;
    background-color: #0d2e4b;
    font-weight: bold;
}
.topicImage{
    width: 120vh;
    height: 120vh;
    margin: 5vh;
    vertical-align: middle;
}

#loading{
    color: #0d2e4b;
}