@import 'tabs-page';

// Place any CSS rules you want to apply only on Android here
TabView {
    tab-text-color: $item-active-background;
    selected-tab-text-color: $item-active-background;
    android-selected-tab-text-color: $item-active-background;
    android-selected-tab-highlight-color: #0b892c;
}