@import '../../app-variables';

.topicTitle{
    margin: 4px;
    // color: $btn-color-secondary;
    color: #0d2e4b;
    font-weight: bold;
    font-size: 22px;
    // text-align: center;
    vertical-align: middle;
}
.topicDetails{
    margin: 6px;
    font-size: 14px;
    text-align: center;
}
.topicTags{
    margin: 3px;
    text-align: center;    
}
.topicDetails,.topicTags{
    margin-top: 15px;
    margin-bottom: 15px;
}
.topicTags{
    margin-top: 0px;
}    

.tagLabel{
    color: $white;  
    padding: 5px;
    border-radius: 3%;
    background-color: #0d2e4b;
    font-weight: bold;
}
.topicImage{
    width: 120px;
    height: 120px;
    margin: 5px;
    vertical-align: middle;
}

#loading{
    color: #0d2e4b;
}