@import '../../app-variables';

.userAvatar{
    width: 100;
    height: 100;
    border-radius: 100%;
    border-width: 4vh;
    border-style: solid;
    border-color: $item-active-icon-color;
    vertical-align: middle;
    margin: 9vh;
    background-color: scale-color($item-active-color, $lightness: 90%);
}

.categoryDescription{
    margin: 5vh;
}